<div>
    <h3>Login</h3>
        <form id="loginForm">
            <label>Email</label>
            <input name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    <p>¿No estas registrado? <a href="/register">Registrate aquí</a></p>
</div>
<script src="/js/login.js"></script>