<div>
    <h3>Registro</h3>
        <form id="registerForm">
            <label>Nombre</label>
            <input name="first_name">

            <label>Email</label>
            <input name="email">
            
            <label>Contraseña</label>
            <input type="password" name="password">
            
            <input type="submit">
        </form>
        <p>¿Ya tenes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>